azure-cli-core==2.0.55
azure-mgmt-containerregistry==2.6.0
azure-mgmt-resource==2.0.0
azureml-core==1.0.18
azureml-contrib-iot==1.0.18
msgpack==0.6.1
PyYAML==4.2b1
pyqt5==5.9.2
wheel==0.30.0
easydict==1.9
tensorflow==1.12.0