.view-container {
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 4vh;
}

.video-container {
  width: 110vmin;
  height: 75vmin;
  margin-left: 2%;
  margin-top: 5vh;
  float: left;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.capture-canvas {
  margin-top: 5%;
  width: 110vmin; 
  height: 75vmin; 
}

.capture-container {
  display: inline-block;
  margin-top: 25vh;
  padding-left: 2%;
}

.capture-button {
  font-size: 32px;
  font-weight: 500;
  color: white;
  background-color: rgb(37, 64, 105);
  border: 1px solid black;
  height: 8vmin;
  width: 25vmin;
  min-width: 170px;
  min-height: 60px;
  margin-bottom: 10px;
}

.capture-button:hover {
  background-color: rgb(0, 120, 215);
  cursor: pointer;
}

.tag-form {
  display: block;
}

.tag-form input[type=text] {
  width: 25vmin;
  height: 5vmin;
  min-width: 170px;
  padding: 12px 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #cfcece;
  border-radius: 15px 15px 15px 15px;
}

.tag-form input[type=submit] {
  background-color: rgb(220,220,220);
  height: 5vmin;
  width: 25vmin;
  min-width: 170px;
  min-height: 30px;
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 10px 15px;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 3px solid #cfcece;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tag-form input[type=submit]:hover {
  background-color: white;
  cursor: pointer;
}

.tag-form input[type=button] {
  background-color: rgb(220,220,220);
  height: 5vmin;
  width: 25vmin;
  min-width: 170px;
  min-height: 30px;
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 10px 15px;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 3px solid #cfcece;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tag-form input[type=button]:hover {
  background-color: white;
  cursor: pointer;
}
